{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>
<li class="drawer-list-item">
  <a href="http://github.com" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/mcu/">
    <i class="fa fa-slack"></i>嵌入式
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/server/">
    <i class="fa fa-tasks"></i>服务器
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/jiao-cha-bian-yi/">
    <i class="fa fa-random"></i>交叉编译
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/linux/">
    <i class="fa fa-linux"></i>linux
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/python/">
    <i class="fa fa-code"></i>python
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/flask/">
    <i class="fa fa-flask"></i>Flask
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/shu-ju-ku/">
    <i class="fa fa-database"></i>数据库
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/mqtt/">
    <i class="fa fa-forumbee"></i>MQTT
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/sqlalchemy/">
    <i class="fa fa-stack-exchange"></i>Sqlalchemy
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/javascript/">
    <i class="fa fa-jsfiddle"></i>javascript
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/esp8266/">
    <i class="fa fa-microchip"></i>ESP8266
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/shu-mei-pai/">
    <i class="fa fa-bug"></i>树莓派
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/arduino/">
    <i class="fa fa-simplybuilt"></i>Arduino
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/yun-fu-wu/">
    <i class="fa fa-cloud"></i>云服务
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/qt/">
    <i class="fa fa-terminal"></i>Qt
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/dede/">
    <i class="fa fa-xing"></i>织梦
  </a>
</li>
